/*================================================
=             _colours.scss -                 =
================================================*/


$light1: #ffffff;
$light2: #e6e2d2;

$red1: #c44740; 
$red2: #fd6e5e;

$dark1: #52616d;
$dark2: #2c343b;
$dark3: #1e1e20;
