/*================================================
=             _colours.scss -                 =
================================================*/


$light1: #ffffff;
$light2: #e6e2d2;

$red1: #c44740;
$red2: #fd6e5e;

$dark1: #51616C;
$dark2: #2C343B;
$dark3: #1e1e20;
