/*================================================
=             _typography.scss -                 =
================================================*/


@mixin fontface($name, $path, $filename, $weight: normal, $style: normal) {
	@font-face {
		font-family: $name;
		src: url($path + $filename + ".eot");
		src: url($path + $filename + ".eot?#iefix") format("embedded-opentype"),
		     url($path + $filename + ".svg#" + $filename) format("svg"), // svg#name must match filename
		     url($path + $filename + ".woff") format("woff"),
		     url($path + $filename + ".ttf") format("truetype");
		font-weight: $weight;
		font-style: $style;
	}
}


// Example font loading
// @include fontface('DropDeadGorgeous', '../fonts/', 'DropDeadGorgeous');
//
// $font-hero: "DropDeadGorgeous", sans-serif;



body {
    font-family: serif;
    color: $light1;
	// background: linear-gradient($dark3 , $dark1);
	background: $dark3;
	
    -webkit-font-smoothing: antialiased;
    text-size-adjust: auto;
}
