.nav {

	&__container {
		display: none;

		@include breakpoint(large) {
			display: block;
			position: absolute;
			z-index: 100;
			bottom: 3%;
    		left: 3%;
			width: 22px;
    		height: 105px;
		}
	}

	&__items {
		list-style: none;
		padding: 0;
		margin: 0;
		position: absolute;
		top: 5px;
		left: 5px;

		li {
			margin-bottom: 14px;
		}

		a {
			display: block;
			width: 12px;
			height: 12px;
			background: $light2;
			border-radius: 50%;
			transition: background 0.3s linear;
		}
	}

	&__item {
		&--active {
			a {
				background: $dark1;
			}
		}
	}

	&__active {
		width: 22px;
		height: 22px;
		border: 1px solid $dark1;
		border-radius: 50%;
		transition: border-color 0.3s linear;
	}
}

.slide03-active {
	.nav {
		&__items {
			a {
				background: $dark1;
			}
		}

		&__item {
			&--active {
				a {
					background: $light2;
				}
			}
		}

		&__active {
			border-color: $light2;
		}
	}
}

.no-js {
	.nav {
		&__container {
			display: none;
		}
	}
}
