{% extends "layout.njk" %}

{% block content %}

    {% include "partials/splash.njk" %}

    {% include "partials/about.njk" %}

    {% include "partials/gallery.njk" %}

	{% include "partials/contact.njk" %}

{% endblock %}
