{% extends "layout.njk" %}

{% block content %}
<main id="main" class="slide01-active">

	<div class="pin-wrapper">

		{% include "partials/navigation.njk" %}

	    {% include "partials/splash.njk" %}

	    {% include "partials/about.njk" %}

	    {# {% include "partials/gallery.njk" %} #}

		{# {% include "partials/contact.njk" %} #}

	</div>

	{% include "partials/fake-height.njk" %}

</main>
{% endblock %}
