.contact {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	// Beige ellipses
	&__ellipsebeige--left, &__ellipsebeige--right {
		display: none;

		@include breakpoint(large) {
			background: $light2;
			width: 66%; // 915
			padding-bottom: 66%;
			border-radius: 50%;
			position: absolute;
			bottom: -26%;
			display: block;

			visibility: hidden;
			opacity: 0;
		}

		@include breakpoint(xlarge) {
			bottom: -33%;
		}

		@include breakpoint(xxlarge) {
			bottom: -49%;
		}
	}

	&__ellipsebeige--left {
		@include breakpoint(large) {
			left: -34%;
		}

		@include breakpoint(xlarge) {
			left: -31%;
		}
	}

	&__ellipsebeige--right {
		@include breakpoint(large) {
			right: -34%;
		}

		@include breakpoint(xlarge) {
			right: -31%;
		}
	}

	&__svg {
		&__radials {
			display: none;

			@include breakpoint(medium) {
				display: inline-block;
				position: absolute;
				width: 102%;
				padding-bottom: 114%;
				z-index: 5;
				left: 50%;
				top: 50%;
				transform: translate(-49%, -50%);
			}

			@include breakpoint(large) {
				width: 100%;
				padding-bottom: 100%;
				transform: translate(-50%, -37%);
			}

			@include breakpoint(xlarge) {
				transform: translate(-50%, -45%);
			}

			@include breakpoint(xxlarge) {
				transform: translate(-49%, -50%);
			}

			svg {
				@include breakpoint(medium) {
					display: block;
					position: absolute;
				}
			}

			&--blocks {
				transform: scale(1.1) translate(-72px, 0px);

				@include breakpoint(large) {
					transform: scale(1.1) translate(-57px, 0px);
				}

				@include breakpoint(xlarge) {
					transform: scale(1.055) translate(-34px, 12px);
				}

				@include breakpoint(xxlarge) {
					transform: scale(1) translate(-18px, 21px);
				}
			}

			&--lines {
				transform: scale(1.1) translate(-78px, -22px);

				@include breakpoint(large) {
					transform: scale(1.1) translate(-64px, -25px);
				}

				@include breakpoint(xlarge) {
					transform: scale(1.06) translate(-30px, -9px);
				}

				@include breakpoint(xxlarge) {
					transform: scale(1.03) translate(-31px, -6px);
				}
			}

			&--blocks, &--lines {
				visibility: hidden;
				opacity: 0;
			}
		}

		&__dots {
			display: none;

			@include breakpoint(large) {
				// position: absolute;
				width: 100%;
				display: inline-block;
				padding-bottom: 100%;
			}

			svg {
				display: block;
				transform: scale(1.8);
				height: 170px;
				z-index: 15;

				@include breakpoint(medium) {
					position: fixed;
				    bottom: -3%;
				    left: 0;
				    width: 100%;
					height: auto;
					transform: scale(1.1);
				}

				@include breakpoint(xlarge) {
					bottom: -6%;
				}

				@include breakpoint(xxlarge) {
					bottom: -8%;
				}
			}

			&--large, &--small {
				&__dot {
					visibility: hidden;
					opacity: 0;
				}

			}
		}
	}


	// Content area
	&__content {

		&__container {
			position: absolute;
			width: 140%;
			padding-bottom: 140%;

			@include breakpoint(medium) {
				top: 8%;
				width: 100%;
				padding-bottom: 100%;
			}

			@include breakpoint(large) {
				top: auto;
			}
		}

		&__bkgnd {
			background: $dark2;
			width: 100%;
			border-radius: 50%;
			padding-bottom: 100%;
			position: absolute;
			z-index: 10;
			left: -15%;

			visibility: hidden;
			opacity: 0;

			@include breakpoint(medium) {
				width: 90%;
				padding-bottom: 90%;
				top: 3%;
				left: 50%;
				transform: translateX(-50%);
			}

			@include breakpoint(large) {
				width: 87%;
				padding: 0 0 87%;
				bottom: -10%;
				top: auto;
			}

			@include breakpoint(xlarge) {
				width: 83%;
				padding-bottom: 83%;
				bottom: 1%;
			}

			@include breakpoint(xxlarge) {
				width: 80%;
				padding-bottom: 80%;
				bottom: 9%;
			}
		}

		&__frgnd {
			background: $dark3;
			width: 80%; // 680
			padding-bottom: 80%;
			position: absolute;
			z-index: 11;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			visibility: hidden;
			opacity: 0;
		}

		&__copy {
			position: absolute;
			width: 69%;
			text-align: center;
			left: 50%;
			transform: translateX(-50%);
			top: 10%;

			visibility: hidden;
			opacity: 0;

			@include breakpoint(medium) {
			    top: 75px;
			}

			@include breakpoint(xlarge) {
				width: 65%;
			}

			@include breakpoint(xxlarge) {
				width: 60%;
			}

			h1 {
				text-transform: uppercase;
				font-size: 50px;
				margin: 0 0 50px;
				line-height: 0.9;
				font-family: $font-hero;
				font-weight: normal;
				border-bottom: 1px solid $red2;
				padding-bottom: 15px;
				text-align: center;
				display: inline-block;

				@include breakpoint(large) {
					font-size: 60px;
				}
			}

			p, ul {
				font-size: 16px;
				text-align: left;
			}
		}
	}


	// Corner ellipses
	&__ellipsecorner--left, &__ellipsecorner--right {
		display: none;

		@include breakpoint(large) {
			background: $dark1;
			width: 35%;
			padding-bottom: 35%;
			border-radius: 50%;
			position: absolute;
			z-index: 15;
			bottom: -14%;
			display: block;

			visibility: hidden;
			opacity: 0;
		}

		@include breakpoint(xlarge) {
			width: 36%;
			padding-bottom: 36%;
			bottom: -16%;
		}

		@include breakpoint(xxlarge) {
			width: 34%;
			padding-bottom: 34%;
		}


		&__inner {
			@include breakpoint(large) {
				background: $dark2;
				width: 55%;
				padding-bottom: 55%;
				border-radius: 50%;
				position: absolute;
				left: 50%;
		    	top: 50%;

				transform: translate(-50%, -50%);
				z-index: 6;
			}
		}
	}

	&__ellipsecorner--left {
		@include breakpoint(large) {
			left: -12%;
		}

		@include breakpoint(xlarge) {
			left: -16%;
		}

		@include breakpoint(xxlarge) {
			left: -17%;
			bottom: -20%;
		}
	}

	&__ellipsecorner--right {
		@include breakpoint(large) {
			right: -12%;
		}

		@include breakpoint(xlarge) {
			right: -16%;
		}

		@include breakpoint(xxlarge) {
			right: -17%;
			bottom: -20%;
		}
	}
}
