.contact {
	overflow: hidden;

	@include breakpoint(xlarge) {
		position: absolute;
	}

	&__container {
		position: relative;
		width: 100vw;
		padding: 60px 0;

		@include breakpoint(large) {
			padding-top: 0;
		}

		@include breakpoint(xlarge) {
			height: 100vh;
			padding-bottom: 0;
		}
	}

	// Beige ellipses
	&__ellipsebeige--left, &__ellipsebeige--right {
		display: none;

		@include breakpoint(large) {
			background: $light2;
			width: 66%; // 915
			padding-bottom: 66%;
			border-radius: 50%;
			position: absolute;
			bottom: -26%;
			display: block;
		}

		@include breakpoint(xlarge) {
			bottom: -33%;

			visibility: hidden;
			opacity: 0;
		}

		@include breakpoint(xxlarge) {
			bottom: -56%;
		}
	}

	&__ellipsebeige--left {
		@include breakpoint(large) {
			left: -34%;
		}

		@include breakpoint(xlarge) {
			left: -38%;
		}
	}

	&__ellipsebeige--right {
		@include breakpoint(large) {
			right: -34%;
		}

		@include breakpoint(xlarge) {
			right: -38%;
		}
	}

	&__svg {
		&__radials {
			display: inline-block;
			position: absolute;
			width: 102%;
			padding-bottom: 114%;
			z-index: 5;
			left: 50%;
			top: 50%;
			transform: translate(-49%, -50%);

			@include breakpoint(large) {
				width: 100%;
				padding-bottom: 100%;
				transform: translate(-50%, -34%);
			}

			@include breakpoint(xlarge) {
				transform: translate(-50%, -50%);
			}

			@include breakpoint(xxlarge) {
				transform: translate(-49%, -50%);
			}

			svg {
				display: block;
				position: absolute;
				overflow: visible;
			}

			&--blocks {
				transform: scale(1.2) translate(-120px, -30px);

				@include breakpoint(large) {
					transform: scale(1.1) translate(-57px, 0px);
				}

				@include breakpoint(xlarge) {
					transform: scale(1.055) translate(-34px, 12px);
				}

				@include breakpoint(xxlarge) {
					transform: scale(0.825) translate(118px, 34px);
				}
			}

			&--lines {
				transform: scale(1.2) translate(-102px, -45px);

				@include breakpoint(large) {
					transform: scale(1.1) translate(-64px, -25px);
				}

				@include breakpoint(xlarge) {
					transform: scale(1.06) translate(-30px, -9px);
				}

				@include breakpoint(xxlarge) {
					transform: scale(0.825) translate(115px, 15px);
				}
			}

			&--blocks, &--lines {
				// visibility: hidden;
				// opacity: 0;

				// @include breakpoint(large) {
					visibility: visible;
					opacity: 1;
				// }

				@include breakpoint(xlarge) {
					visibility: hidden;
					opacity: 0;
				}
			}
		}
	}


	// Content area
	&__content {

		&__container {
			width: 100%;
			padding-bottom: 100%;

			@include breakpoint(xlarge) {
				position: absolute;
				top: auto;
				width: 100%;
				padding-bottom: 100%;
			}
		}

		&__bkgnd {
			background: $dark2;
			width: 100%;
			border-radius: 50%;
			padding-bottom: 100%;
			position: absolute;
			z-index: 10;

			@include breakpoint(large) {
				width: 87%;
				padding: 0 0 87%;
				bottom: -9%;
				top: auto;
				left: 50%;
				transform: translateX(-50%);
			}

			@include breakpoint(xlarge) {
				width: 83%;
				padding-bottom: 83%;
				bottom: 6%;

				visibility: hidden;
				opacity: 0;
			}

			@include breakpoint(xxlarge) {
				width: 65%;
				padding-bottom: 65%;
				bottom: 25%;
			}
		}

		&__frgnd {
			background: $dark3;
			width: 80%; // 680
			padding-bottom: 80%;
			position: absolute;
			z-index: 11;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@include breakpoint(xlarge) {
				visibility: hidden;
				opacity: 0;
			}
		}

		&__copy {
			position: absolute;
			width: 69%;
			text-align: center;
			left: 50%;
			transform: translateX(-50%);
			top: 10%;

			@include breakpoint(large) {
			    top: 50px;
			}

			@include breakpoint(xlarge) {
				width: 65%;
				visibility: hidden;
				opacity: 0;
			}

			@include breakpoint(xxlarge) {
				width: 60%;
			}

			h1 {
				text-transform: uppercase;
				font-size: 50px;
				margin: 30px 0 25px;
				line-height: 0.9;
				font-family: $font-hero;
				font-weight: normal;
				border-bottom: 1px solid $red2;
				padding-bottom: 15px;
				text-align: center;
				display: inline-block;

				@include breakpoint(medium) {
					margin: 0 0 50px;
				}

				@include breakpoint(large) {
					margin: 0 0 30px;
					font-size: 60px;
				}

				@include breakpoint(xlarge) {
					margin: 0 0 50px;
				}
			}

			p, ul {
				font-size: 16px;
				text-align: left;

				@include breakpoint(medium) {
					margin-bottom: 30px;
				}
			}

			.cv {
				display: none;

				@include breakpoint(medium) {
					display: block;
				}
			}

			a {
				color: $light1;
				text-decoration: none;
				display: block;

				img {
					display: inline-block;
					margin-right: 10px;
				}
			}
		}

		&__links {
			@include clearfix;

			p {
				@include breakpoint(medium) {
					float: left;
					width: 50%;
				}
			}
		}

		&__copy2 {
			display: none;

			@include breakpoint(large) {
				display: block;
			}
		}

		&__form {
			display: none;

			@include breakpoint(large) {
				display: block;
			}

			fieldset {
				border: none;
				padding: 0;
				margin: 0;
			}

			&__item {
				margin-bottom: 20px;
			}

			label {
				display: none;
			}

			input, textarea {
				display: block;
				border: none;
				background: $dark2;
				width: 100%;
				font-family: $body;
				font-size: 16px;
				padding: 10px 20px;
				color: $light1;
				border-radius: 0px;
				transition: background 0.5s ease;

				&::-webkit-input-placeholder {
					color: $light1;
				}

				&::-moz-placeholder {
					color: $light1;
				}

				&:-ms-input-placeholder {
					color: $light1;
				}

				&:focus {
					outline: none;
					background: $light2;
					color: $dark3;

					&::-webkit-input-placeholder {
						color: $dark3;
					}

					&::-moz-placeholder {
						color: $dark3;
					}

					&:-ms-input-placeholder {
						color: $dark3;
					}
				}
			}

			input {
				height: 35px;
			}

			textarea {
				height: 110px;
			}

			&__submit {
				position: relative;

				input {
					width: 50%;
					color: $light1;
					transition: background 0.5s ease;

					&:active,
				    &:focus,
				    &:hover {
						cursor: pointer;
						color: $dark3;
						background: $light2;
					}
				}
			}

			&__success, &__error {
				width: 50%;
				position: absolute;
				right: 0;
				top: 0;
				font-family: $body;
				font-size: 16px;
				text-align: left;
				padding-left: 20px;
				line-height: 1.2;
				visibility: hidden;
				opacity: 0;
			}

			&__success {
				color: $success;
			}

			&__error {
				color: $red1;
			}
		}
	}


	// Corner ellipses
	&__ellipsecorner--left, &__ellipsecorner--right {
		display: none;

		@include breakpoint(large) {
			background: $dark1;
			width: 35%;
			padding-bottom: 35%;
			border-radius: 50%;
			position: absolute;
			z-index: 15;
			bottom: -14%;
			display: block;
		}

		@include breakpoint(xlarge) {
			width: 36%;
			padding-bottom: 36%;
			bottom: -16%;

			visibility: hidden;
			opacity: 0;
		}

		@include breakpoint(xxlarge) {
			width: 34%;
			padding-bottom: 34%;
		}


		&__inner {
			@include breakpoint(large) {
				background: $dark2;
				width: 55%;
				padding-bottom: 55%;
				border-radius: 50%;
				position: absolute;
				left: 50%;
		    	top: 50%;

				transform: translate(-50%, -50%);
				z-index: 6;
			}
		}
	}

	&__ellipsecorner--left {
		@include breakpoint(large) {
			left: -12%;
		}

		@include breakpoint(xlarge) {
			left: -17%;
		}

		@include breakpoint(xxlarge) {
			left: -20%;
			bottom: -20%;
		}
	}

	&__ellipsecorner--right {
		@include breakpoint(large) {
			right: -12%;
		}

		@include breakpoint(xlarge) {
			right: -17%;
		}

		@include breakpoint(xxlarge) {
			right: -20%;
			bottom: -20%;
		}
	}
}

.no-js {
	.contact {
		position: relative;

		&__ellipsebeige--left, &__ellipsebeige--right {
			visibility: visible;
			opacity: 1;
		}

		&__ellipsecorner--left, &__ellipsecorner--right {
			visibility: visible;
			opacity: 1;
		}

		&__content {
			&__bkgnd, &__frgnd, &__copy {
				visibility: visible;
				opacity: 1;
			}
		}

		&__svg {
			&__radials {
				&--blocks, &--lines {
					visibility: visible;
					opacity: 1;
				}
			}

			&__dots {
				&--large, &--small {
					&__dot {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
	}
}
