.contact {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	svg {
		width: 100%;
		// height: 100vh;
	}

	&__svg {
		&__radials {
			display: inline-block;
			width: 100%;
			position: relative;
			z-index: 5;
			margin: 0 auto;
			padding-bottom: 100%;

			svg {
				display: block;
				position: absolute;
			    bottom: -100px;
			    left: 0;
			    width: 100%;

				@include breakpoint(xlarge) {
					bottom: -70px;
				}

				@include breakpoint(xxlarge) {
					bottom: -20px;
				}
			}

			&--blocks, &--lines {
				transform: scale(1.1) translate(-72px, 0px);

				@include breakpoint(xlarge) {
					transform: scale(1) translate(-26px, 12px);
				}

				@include breakpoint(xxlarge) {
					transform: scale(0.97) translate(-4px, 12px);
				}
			}
		}
	}


	// Beige ellipses
	&__ellipsebeige--left, &__ellipsebeige--right {
		display: none;

		@include breakpoint(large) {
			background: $light2;
			width: 1105px; // 915
			height: 1105px;
			border-radius: 50%;
			position: absolute;
			bottom: -530px;
			display: block;
		}
	}

	&__ellipsebeige--left {
		@include breakpoint(large) {
			left: -580px;
		}

		@include breakpoint(xlarge) {
			// left: -530px;
		}

		@include breakpoint(xxlarge) {
			// left: -410px;
		}
	}

	&__ellipsebeige--right {
		@include breakpoint(large) {
			right: -580px;
		}

		@include breakpoint(xlarge) {
			// right: -530px;
		}

		@include breakpoint(xxlarge) {
			// right: -410px;
		}
	}


	// Content area
	&__content {

		&__container {
			position: absolute;
			width: 100%;
			height: 100vh;
			bottom: -300px;
		}

		&__bkgnd {
			background: $dark2;
			position: relative;
			z-index: 10;
			border-radius: 50%;
			margin: 0 auto;

			@include breakpoint(medium) {
				width: 90%;
				padding-bottom: 90%;
			}

			@include breakpoint(large) {
				bottom: 90px;
			}

			@include breakpoint(xlarge) {
				width: 85%;
				padding-bottom: 85%;
				bottom: 100px;
			}

			@include breakpoint(xxlarge) {
				width: 80%;
				padding-bottom: 80%;
				bottom: 130px;
			}
		}

		&__frgnd {
			background: $dark3;
			width: 80%; // 680
			padding-bottom: 80%;
		    position: absolute;
		    z-index: 11;
		    border-radius: 50%;
			top: 10%;
    		left: 10%;
		}

		&__copy {
			position: absolute;
			width: 69%;
		    top: 75px;
		    left: 105px;
			text-align: center;

			@include breakpoint(xlarge) {
				width: 65%;
				left: 155px;
			}

			@include breakpoint(xxlarge) {
				width: 60%;
				left: 210px;
			}

			h1 {
				text-transform: uppercase;
				font-size: rem-calc(60);
				margin: 0 0 50px;
				line-height: 0.9;
				font-family: $font-hero;
				font-weight: normal;
				border-bottom: 1px solid $red2;
				padding-bottom: 15px;
				text-align: center;
				display: inline-block;
			}

			p, ul {
				text-align: left;
			}
		}
	}


	// Corner ellipses
	&__ellipsecorner--left, &__ellipsecorner--right {
		display: none;

		@include breakpoint(large) {
			background: $dark1;
			width: 430px;
			height: 430px;
			border-radius: 50%;
			position: absolute;
			z-index: 5;
			top: 300px;
			display: block;
		}

		@include breakpoint(xlarge) {
			width: 470px;
			height: 470px;
		}

		@include breakpoint(xxlarge) {
			width: 520px;
			height: 520px;
		}

		&__inner {
			@include breakpoint(large) {
				background: $dark2;
				width: 260px;
				height: 260px;
				border-radius: 50%;
				position: absolute;
				left: 85px;
		    	top: 90px;
				z-index: 6;
			}

			@include breakpoint(xlarge) {
				width: 290px;
				height: 290px;
			}

			@include breakpoint(xxlarge) {
				width: 340px;
				height: 340px;
			}
		}
	}

	&__ellipsecorner--left {
		@include breakpoint(large) {
			left: -380px;
		}

		@include breakpoint(xlarge) {
			left: -450px;
		}

		@include breakpoint(xxlarge) {
			left: -540px;
		}
	}

	&__ellipsecorner--right {
		@include breakpoint(large) {
			right: -380px;
		}

		@include breakpoint(xlarge) {
			right: -450px;
		}

		@include breakpoint(xxlarge) {
			right: -540px;
		}
	}
}
