.gallery {
	width: 100%;
	overflow: hidden;

	@include breakpoint(large) {
		position: absolute;
	}

	&__container {
		position: relative;
		width: 100vw;
		padding-top: 70px;
		margin-bottom: 100px;

		@include breakpoint(large) {
			height: 100vh;
			padding-top: 50px;
			margin-bottom: 0;
		}

		@include breakpoint(xlarge) {
			padding-top: 20px;
		}
	}

	&__svg {
		&--top, &--bottom {
			width: 100%;
			transform: scale(2.8) skewY(0deg);

			@include breakpoint(medium) {
				transform: scale(2);
			}

			@include breakpoint(large) {
				transform: scale(1.5);
			}

			@include breakpoint(xlarge) {
				transform: scale(1);
			}
		}

		&--top {
			margin-bottom: 20px;

			@include breakpoint(large) {
				margin-bottom: 0;
			}
		}

		&__blocks, &__lines {
			&--top, &--bottom {
				&__left, &__right {
					@include breakpoint(large) {
						visibility: hidden;
						opacity: 0;
					}
				}
			}
		}
	}

	&__content {

		&__container {
			@include breakpoint(large) {
				width: 100%;
				min-height: 600px;
				z-index: 10;
				position: relative;
				top: -14px;
			}
		}

		&__bkgnd {
			width: 100%;
			min-height: 600px;
			background: $dark1;
			transform: translateZ(0) skewY(5deg);
			position: relative;
			z-index: 11;
			margin-bottom: 30px;
			left: 0;
			top: 0;

			@include breakpoint(large) {
				margin-bottom: 20px;

				visibility: hidden;
				opacity: 0;
			}

			@include breakpoint(xlarge) {
				margin-bottom: 0;
			}
		}

		&__frgnd {
			width: 100%;
			min-height: 600px;
			background: $dark2;
			transform: translateZ(0) skewY(-10deg);
			position: relative;
			z-index: 12;
			left: 0;
			top: 0;

			@include breakpoint(large) {
				visibility: hidden;
				opacity: 0;
			}
		}

		&__inner {
			text-align: center;
			transform: translateZ(0) skewY(5deg);
			position: relative;
			padding-top: 40px;
			z-index: 13;

			@include breakpoint(large) {
				visibility: hidden;
				opacity: 0;
				top: 40px;
				padding-top: 0;
			}

			h1 {
				text-transform: uppercase;
				font-size: 50px;
				margin: 0 0 50px;
				line-height: 0.9;
				font-family: $font-hero;
				font-weight: normal;
				border-bottom: 1px solid $red2;
				padding-bottom: 15px;
				text-align: center;
				display: inline-block;

				@include breakpoint(large) {
					font-size: 60px;
				}
			}
		}

		&__list {
			width: 75%;
			margin: 0 auto;

			@include breakpoint(large) {
				visibility: hidden;
				opacity: 0;
			}

			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				@include grid-row(12);

				@include breakpoint(large) {
					transform: translateZ(0) skewY(-5deg);
					border: 2px solid $light1;
					backface-visibility: hidden;
					overflow: hidden;
				}

				li {
					margin-bottom: 25px;

					@include breakpoint(large) {
						margin-bottom: 0;
						@include grid-column(4, 0);
						transform: translateZ(0) skewY(5deg) scaleY(1.15);
						border-right: 2px solid $light1;
						overflow-x: hidden;
					}

					&:last-child {
						border: none;
					}

					@include breakpoint(large) {
						&:after {
							content: '+';
							position: absolute;
							text-align: center;
							display: block;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							font-family: $body;
							color: $light1;
							font-size: 24px;
							opacity: 0;
							transition: all 0.5s ease;
						}

						&:hover {
							&:after {
								opacity: 1;
							}
						}
					}

					a {
						display: inline-block;
						position: relative;

						@include breakpoint(large) {
							transition: all 0.5s ease;

							&:hover {
								background: $dark2;
								opacity: 0.2;
							}
						}
					}

					img {
						@include breakpoint(large) {
							transition: all 0.5s ease;

							&:hover {
								transform: scale(1.2);
							}
						}
					}
				}
			}
		}

	}
}
