.gallery {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;

	&__container {
		padding-top: 70px;

		@include breakpoint(medium) {
			padding-top: 60px;
		}

		@include breakpoint(large) {
			padding-top: 50px;
		}

		@include breakpoint(xlarge) {
			padding-top: 20px;
		}
	}

	&__svg {
		&--top, &--bottom {
			width: 100%;
			transform: scale(2.8) skewY(0deg);

			@include breakpoint(medium) {
				transform: scale(2);
			}

			@include breakpoint(large) {
				transform: scale(1.5);
			}

			@include breakpoint(xlarge) {
				transform: scale(1);
			}
		}

		&--top {
			margin-bottom: 20px;

			@include breakpoint(large) {
				margin-bottom: 0;
			}
		}

		&__blocks, &__lines {
			&--top, &--bottom {
				&__left, &__right {
					visibility: hidden;
					opacity: 0;
				}
			}
		}
	}

	&__content {

		&__container {
			width: 100%;
			min-height: 600px;
			z-index: 10;
			position: relative;
			top: -14px;
		}

		&__bkgnd {
			width: 100%;
			min-height: 600px;
			background: $dark1;
			transform: skewY(5deg);
			position: relative;
			z-index: 11;
			margin-bottom: 30px;
			left: 0;
			top: 0;

			visibility: hidden;
			opacity: 0;

			@include breakpoint(large) {
				margin-bottom: 20px;
			}

			@include breakpoint(xlarge) {
				margin-bottom: 0;
			}
		}

		&__frgnd {
			width: 100%;
			min-height: 600px;
			background: $dark2;
			transform: skewY(-10deg);
			position: relative;
			z-index: 12;
			left: 0;
			top: 0;

			visibility: hidden;
			opacity: 0;
		}

		&__inner {
			text-align: center;
			transform: skewY(5deg) scaleX(0.8);
			position: relative;
			top: 40px;
			z-index: 13;

			visibility: hidden;
			opacity: 0;

			h1 {
				text-transform: uppercase;
				font-size: rem-calc(30);
				margin: 0 0 50px;
				line-height: 0.9;
				font-family: $font-hero;
				font-weight: normal;
				border-bottom: 1px solid $red2;
				padding-bottom: 15px;
				text-align: center;
				display: inline-block;
			}
		}

		&__list {
			border: 1px solid white;
			width: 75%;
			margin: 0 auto;

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					display: inline-block;
					width: 33%;

					a {
						display: inline-block;
					}
				}
			}
		}

	}
}
