.splash {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	// Bottom corner radial
	&__corner-circle {
		display: none;

		@include breakpoint(large) {
			display: block;
			width: 598px;
			padding-bottom: 598px;
			border-radius: 50%;
			background: $dark3;
			position: absolute;
			top: 73%;
	    	left: -15%;
		}
	}

	// Small radial
	&__sm-radial {
		display: none;

		@include breakpoint(medium) {
			display: block;
			position: absolute;
			width: 55%;
			padding-bottom: 55%;
			transform: translate(-6%, 65%);
		}

		@include breakpoint(large) {
			width: 47%;
			padding-bottom: 47%;
			transform: translate(-6%, -4%);
		}

		&__outer {
			width: 100%;
			padding-bottom: 100%;
			border-radius: 50%;
			background: $dark1;
			position: relative;
		}

		&__blocks, &__lines {
			width: 100%;
			position: absolute;
		}

		&__blocks {
			transform-origin: 49% 49%;
			transform: scale(0.59);
		}

		&__lines {
			transform-origin: 56% 50%;
			transform: scale(0.7);
		}

		&__inner {
			position: absolute;
			width: 50%;
			padding-bottom: 50%;
			border-radius: 50%;
			background: $dark3;
			z-index: 5;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// Large radial
	&__lrg-radial {
		width: 130%;
		position: relative;
		left: 50%;
		top: 50px;
		transform: translateX(-50%);

		@include breakpoint(medium) {
			position: absolute;
			width: 85%;
			padding-bottom: 85%;
			left: auto;
			top: auto;
			transform: translate(27%, 2%);
		}

		@include breakpoint(large) {
			width: 85%;
			padding-bottom: 85%;
			transform: translate(33%, 3%);
		}

		@include breakpoint(xlarge) {
			width: 72%;
			padding-bottom: 72%;
			transform: translate(52%, 2%);
		}

		&__outer {
			width: 100%;
			padding-bottom: 100%;
			border-radius: 50%;
			background: $dark2;
			position: relative;
		}

		&__blocks, &__lines {
			width: 100%;
			position: absolute;
		}

		&__blocks {
			transform-origin: 54% 54%;
			transform: scale(0.82);
		}

		&__lines {
			transform-origin: 47% 47%;
			transform: scale(0.87);
		}

		&__inner {
			position: absolute;
			width: 60%;
			padding-bottom: 60%;
			border-radius: 50%;
			background: $dark3;
			z-index: 5;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	// Dots
	&__dots {
		display: none;

		@include breakpoint(medium) {
			display: block;
		}

		&__large {
			position: absolute;
			transform: translate(17%, 8%) scale(1.1);
		}

		&__small {
			position: absolute;
			transform: translate(17%, 4%) scale(1.1);
		}
	}


	&__heading {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		visibility: hidden;
		opacity: 0;

		h1 {
			text-transform: uppercase;
			font-size: rem-calc(96);
			margin: 0;
			text-align: center;
			line-height: 0.9;
			font-weight: normal;

			@include breakpoint(medium) {
				font-size: rem-calc(66);
			}

			@include breakpoint(xlarge) {
				font-size: rem-calc(56);
			}

			@include breakpoint(xxlarge) {
				font-size: rem-calc(46);
			}

			span {
				display: block;
			}
		}
	}

	&__corner-circle {
		visibility: hidden;
		opacity: 0;
	}

	&__sm-radial {
		&__outer, &__inner, &__blocks, &__lines {
			visibility: hidden;
			opacity: 0;
		}
	}

	&__lrg-radial {
		&__outer, &__inner, &__blocks, &__lines {
			visibility: hidden;
			opacity: 0;
		}
	}

	&__dots {
		&__small, &__large {
			&__dot {
				visibility: hidden;
				opacity: 0;
			}

		}
	}
}
