<div class="fake-height">
	<div id="slide01-pos"></div>
	<div id="slide02-pos" class="slide-pos"></div>
	<div id="slide03-pos" class="slide-pos"></div>
	<div id="slide04-pos" class="slide-pos"></div>
	<div class="nav-trigger"></div>
</div>
