<section class="gallery js-gallery">

	<div class="gallery__container">
		<div class="gallery__svg--top">
			<svg viewBox="0 0 1636 149" width="100%" height="100%" preserveAspectRatio="xMinYMin meet">
				<g class="gallery__svg__blocks--top" fill="none" fill-rule="evenodd">
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".694" fill="#2C343B" d="M0 149h43V18H0"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".592" fill="#E6E2D2" d="M50 149h32V35H50"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".796" fill="#1E1E20" d="M100 149h36V55h-36"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".718" fill="#52616D" d="M150 149h43V21h-43"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".616" fill="#1E1E20" d="M200 149h35V7h-35"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".871" fill="#C44740" d="M250 149h36V20h-36"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".929" fill="#2C343B" d="M300 149h42V40h-42"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".925" fill="#52616D" d="M350 149h31V41h-31"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".976" fill="#FFF" d="M400 149h35V72h-35"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".784" fill="#FFF" d="M450 149h37V26h-37"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".976" fill="#C44740" d="M500 149h41V37h-41"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".694" fill="#E6E2D2" d="M550 149h44V24h-44"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".816" fill="#FFF" d="M600 149h30V45h-30"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".686" fill="#C44740" d="M650 149h35V15h-35"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".643" fill="#2C343B" d="M700 149h39V3h-39"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".647" fill="#52616D" d="M750 149h36V7h-36"/>
			        <path class="gallery__svg__blocks--top__left" fill-opacity=".624" fill="#FFF" d="M800 149h35V0h-35"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".706" fill="#FD6E5E" d="M850 149h42V72h-42"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".588" fill="#FFF" d="M900 149h34V52h-34"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".627" fill="#FFF" d="M950 149h39V44h-39"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".722" fill="#C44740" d="M1000 149h30V66h-30"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".694" fill="#1E1E20" d="M1050 149h41V8h-41"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".776" fill="#E6E2D2" d="M1100 149h44V72h-44"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".773" fill="#1E1E20" d="M1150 149h40V55h-40"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".82" fill="#1E1E20" d="M1200 149h34V10h-34"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".631" fill="#FFF" d="M1250 149h41V7h-41"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".953" fill="#E6E2D2" d="M1300 149h31V55h-31"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".957" fill="#1E1E20" d="M1350 149h44V15h-44"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".694" fill="#C44740" d="M1400 149h38V10h-38"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".792" fill="#FD6E5E" d="M1450 149h34V70h-34"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".765" fill="#52616D" d="M1500 149h31V26h-31"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".863" fill="#FFF" d="M1550 149h36V57h-36"/>
			        <path class="gallery__svg__blocks--top__right" fill-opacity=".882" fill="#FFF" d="M1600 149h36V58h-36"/>
			    </g>

				<g class="gallery__svg__lines--top" fill="none" fill-rule="evenodd">
			        <path class="gallery__svg__lines--top__left" fill="#52616D" d="M0 149h2V43H0"/>
			        <path class="gallery__svg__lines--top__left" fill="#FD6E5E" d="M15 149h2V62h-2M30 149h2V57h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#52616D" d="M45 149h2V74h-2M60 149h1V43h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#1E1E20" d="M75 149h1V10h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#E6E2D2" d="M90 149h2V51h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#2C343B" d="M105 149h2V5h-2M120 149h1V52h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#FFF" d="M135 149h1V74h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#E6E2D2" d="M150 149h1V35h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#C44740" d="M165 149h1V43h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#FD6E5E" d="M180 149h2V71h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#1E1E20" d="M195 149h2V40h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#2C343B" d="M210 149h2V0h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#FFF" d="M225 149h2V39h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#FD6E5E" d="M240 149h1V42h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#52616D" d="M255 149h2V57h-2M270 149h1V62h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#FFF" d="M285 149h1V11h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#52616D" d="M300 149h1V35h-1M315 149h1V16h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#E6E2D2" d="M330 149h1V54h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#2C343B" d="M345 149h1V41h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#1E1E20" d="M360 149h1V74h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#E6E2D2" d="M375 149h2V6h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#52616D" d="M390 149h2V6h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#E6E2D2" d="M405 149h1V58h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#FFF" d="M420 149h2V73h-2M435 149h2V39h-2M450 149h1V52h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#E6E2D2" d="M465 149h1V31h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#2C343B" d="M480 149h1V57h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#1E1E20" d="M495 149h2V17h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#FFF" d="M510 149h2V52h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#52616D" d="M525 149h2V2h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#E6E2D2" d="M540 149h2V26h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#FFF" d="M555 149h2V0h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#52616D" d="M570 149h2V52h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#FFF" d="M585 149h2V12h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#FD6E5E" d="M600 149h2V49h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#1E1E20" d="M615 149h1V66h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#E6E2D2" d="M630 149h2V23h-2M645 149h2V63h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#52616D" d="M660 149h2V64h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#FD6E5E" d="M675 149h1V5h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#FFF" d="M690 149h2V21h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#C44740" d="M705 149h2V12h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#1E1E20" d="M720 149h2V67h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#E6E2D2" d="M735 149h2V15h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#FD6E5E" d="M750 149h2V72h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#E6E2D2" d="M765 149h2V22h-2"/>
			        <path class="gallery__svg__lines--top__left" fill="#FFF" d="M780 149h1V40h-1M795 149h1V2h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#1E1E20" d="M810 149h1V15h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#2C343B" d="M825 149h1V6h-1"/>
			        <path class="gallery__svg__lines--top__left" fill="#C44740" d="M840 149h1V53h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#FFF" d="M855 149h2V62h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#2C343B" d="M870 149h2V15h-2M885 149h1V58h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#52616D" d="M900 149h2V48h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#1E1E20" d="M915 149h2V1h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#FD6E5E" d="M930 149h2V19h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#E6E2D2" d="M945 149h2V66h-2M960 149h1V5h-1M975 149h2V38h-2M990 149h2V8h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#FFF" d="M1005 149h2V41h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#2C343B" d="M1020 149h2V63h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#C44740" d="M1035 149h1V53h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#2C343B" d="M1050 149h2V47h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#FFF" d="M1065 149h1V0h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#C44740" d="M1080 149h1V51h-1M1095 149h1V26h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#1E1E20" d="M1110 149h2V64h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#52616D" d="M1125 149h1V57h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#2C343B" d="M1140 149h2V29h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#E6E2D2" d="M1155 149h2V36h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#C44740" d="M1170 149h1V18h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#FFF" d="M1185 149h1V70h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#E6E2D2" d="M1200 149h2V60h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#FFF" d="M1215 149h1V22h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#1E1E20" d="M1230 149h1V0h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#52616D" d="M1245 149h1V35h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#FD6E5E" d="M1260 149h2V6h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#E6E2D2" d="M1275 149h2V74h-2M1290 149h2V15h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#FD6E5E" d="M1305 149h2V13h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#E6E2D2" d="M1320 149h1V2h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#52616D" d="M1335 149h2V52h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#E6E2D2" d="M1350 149h2V50h-2M1365 149h2V9h-2M1380 149h2V50h-2M1395 149h2V73h-2M1410 149h1V9h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#FFF" d="M1425 149h1V43h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#1E1E20" d="M1440 149h1V14h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#FFF" d="M1455 149h1V23h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#FD6E5E" d="M1470 149h1V1h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#FFF" d="M1485 149h2V58h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#E6E2D2" d="M1500 149h2V58h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#FFF" d="M1515 149h2V2h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#52616D" d="M1530 149h2V61h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#2C343B" d="M1545 149h2V12h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#FD6E5E" d="M1560 149h2V63h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#52616D" d="M1575 149h2V21h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#FFF" d="M1590 149h1V32h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#FD6E5E" d="M1605 149h1V42h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#52616D" d="M1620 149h2V17h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#2C343B" d="M1635 149h1V25h-1"/>
			        <path class="gallery__svg__lines--top__right" fill="#C44740" d="M1650 149h2V57h-2M1665 149h2V39h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#52616D" d="M1680 149h2V62h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#C44740" d="M1695 149h2V11h-2"/>
			        <path class="gallery__svg__lines--top__right" fill="#E6E2D2" d="M1710 149h1V10h-1"/>
			    </g>
			</svg>
		</div>

		<div class="gallery__content__container">
			<div class="gallery__content__bkgnd">
				<div class="gallery__content__frgnd">
					<div class="gallery__content__inner">
						<h1>Gallery</h1>

						<div class="gallery__content__list">
							<ul>
								<li><a href="#"><img src="/images/gallery/michelin.png" alt=""></a></li>
								<li><a href="#"><img src="/images/gallery/michelin.png" alt=""></a></li>
								<li><a href="#"><img src="/images/gallery/michelin.png" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="gallery__svg--bottom">
				<svg viewBox="0 0 1636 149" width="100%" height="100%" preserveAspectRatio="xMinYMin meet">
					<g class="gallery__svg__blocks--bottom" fill="none" fill-rule="evenodd">
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".694" fill="#2C343B" d="M0 0h43v131H0"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".592" fill="#E6E2D2" d="M50 0h32v114H50"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".796" fill="#1E1E20" d="M100 0h36v94h-36"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".718" fill="#52616D" d="M150 0h43v128h-43"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".616" fill="#1E1E20" d="M200 0h35v142h-35"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".871" fill="#C44740" d="M250 0h36v129h-36"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".929" fill="#2C343B" d="M300 0h42v109h-42"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".925" fill="#52616D" d="M350 0h31v108h-31"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".976" fill="#FFF" d="M400 0h35v77h-35"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".784" fill="#FFF" d="M450 0h37v123h-37"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".976" fill="#C44740" d="M500 0h41v112h-41"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".694" fill="#E6E2D2" d="M550 0h44v125h-44"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".816" fill="#FFF" d="M600 0h30v104h-30"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".686" fill="#C44740" d="M650 0h35v134h-35"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".643" fill="#2C343B" d="M700 0h39v146h-39"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".647" fill="#52616D" d="M750 0h36v142h-36"/>
						<path class="gallery__svg__blocks--bottom__left" fill-opacity=".624" fill="#FFF" d="M800 0h35v149h-35"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".706" fill="#FD6E5E" d="M850 0h42v77h-42"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".588" fill="#FFF" d="M900 0h34v97h-34"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".627" fill="#FFF" d="M950 0h39v105h-39"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".722" fill="#C44740" d="M1000 0h30v83h-30"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".694" fill="#1E1E20" d="M1050 0h41v141h-41"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".776" fill="#E6E2D2" d="M1100 0h44v77h-44"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".773" fill="#1E1E20" d="M1150 0h40v94h-40"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".82" fill="#1E1E20" d="M1200 0h34v139h-34"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".631" fill="#FFF" d="M1250 0h41v142h-41"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".953" fill="#E6E2D2" d="M1300 0h31v94h-31"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".957" fill="#1E1E20" d="M1350 0h44v134h-44"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".694" fill="#C44740" d="M1400 0h38v139h-38"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".792" fill="#FD6E5E" d="M1450 0h34v79h-34"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".765" fill="#52616D" d="M1500 0h31v123h-31"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".863" fill="#FFF" d="M1550 0h36v92h-36"/>
						<path class="gallery__svg__blocks--bottom__right" fill-opacity=".882" fill="#FFF" d="M1600 0h36v91h-36"/>
					</g>

					<g class="gallery__svg__lines--bottom" fill="none" fill-rule="evenodd">
						<path class="gallery__svg__lines--bottom__left" fill="#52616D" d="M0 0h2v106H0"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FD6E5E" d="M15 0h2v87h-2M30 0h2v92h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#52616D" d="M45 0h2v75h-2M60 0h1v106h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#1E1E20" d="M75 0h1v139h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#E6E2D2" d="M90 0h2v98h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#2C343B" d="M105 0h2v144h-2M120 0h1v97h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FFF" d="M135 0h1v75h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#E6E2D2" d="M150 0h1v114h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#C44740" d="M165 0h1v106h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FD6E5E" d="M180 0h2v78h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#1E1E20" d="M195 0h2v109h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#2C343B" d="M210 0h2v149h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FFF" d="M225 0h2v110h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FD6E5E" d="M240 0h1v107h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#52616D" d="M255 0h2v92h-2M270 0h1v87h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FFF" d="M285 0h1v138h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#52616D" d="M300 0h1v114h-1M315 0h1v133h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#E6E2D2" d="M330 0h1v95h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#2C343B" d="M345 0h1v108h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#1E1E20" d="M360 0h1v75h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#E6E2D2" d="M375 0h2v143h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#52616D" d="M390 0h2v143h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#E6E2D2" d="M405 0h1v91h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FFF" d="M420 0h2v76h-2M435 0h2v110h-2M450 0h1v97h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#E6E2D2" d="M465 0h1v118h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#2C343B" d="M480 0h1v92h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#1E1E20" d="M495 0h2v132h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FFF" d="M510 0h2v97h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#52616D" d="M525 0h2v147h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#E6E2D2" d="M540 0h2v123h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FFF" d="M555 0h2v149h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#52616D" d="M570 0h2v97h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FFF" d="M585 0h2v137h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FD6E5E" d="M600 0h2v100h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#1E1E20" d="M615 0h1v83h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#E6E2D2" d="M630 0h2v126h-2M645 0h2v86h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#52616D" d="M660 0h2v85h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FD6E5E" d="M675 0h1v144h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FFF" d="M690 0h2v128h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#C44740" d="M705 0h2v137h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#1E1E20" d="M720 0h2v82h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#E6E2D2" d="M735 0h2v134h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FD6E5E" d="M750 0h2v77h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#E6E2D2" d="M765 0h2v127h-2"/>
						<path class="gallery__svg__lines--bottom__left" fill="#FFF" d="M780 0h1v109h-1M795 0h1v147h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#1E1E20" d="M810 0h1v134h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#2C343B" d="M825 0h1v143h-1"/>
						<path class="gallery__svg__lines--bottom__left" fill="#C44740" d="M840 0h1v96h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FFF" d="M855 0h2v87h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#2C343B" d="M870 0h2v134h-2M885 0h1v91h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#52616D" d="M900 0h2v101h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#1E1E20" d="M915 0h2v148h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FD6E5E" d="M930 0h2v130h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#E6E2D2" d="M945 0h2v83h-2M960 0h1v144h-1M975 0h2v111h-2M990 0h2v141h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FFF" d="M1005 0h2v108h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#2C343B" d="M1020 0h2v86h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#C44740" d="M1035 0h1v96h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#2C343B" d="M1050 0h2v102h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FFF" d="M1065 0h1v149h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#C44740" d="M1080 0h1v98h-1M1095 0h1v123h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#1E1E20" d="M1110 0h2v85h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#52616D" d="M1125 0h1v92h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#2C343B" d="M1140 0h2v120h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#E6E2D2" d="M1155 0h2v113h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#C44740" d="M1170 0h1v131h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FFF" d="M1185 0h1v79h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#E6E2D2" d="M1200 0h2v89h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FFF" d="M1215 0h1v127h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#1E1E20" d="M1230 0h1v149h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#52616D" d="M1245 0h1v114h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FD6E5E" d="M1260 0h2v143h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#E6E2D2" d="M1275 0h2v75h-2M1290 0h2v134h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FD6E5E" d="M1305 0h2v136h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#E6E2D2" d="M1320 0h1v147h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#52616D" d="M1335 0h2v97h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#E6E2D2" d="M1350 0h2v99h-2M1365 0h2v140h-2M1380 0h2v99h-2M1395 0h2v76h-2M1410 0h1v140h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FFF" d="M1425 0h1v106h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#1E1E20" d="M1440 0h1v135h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FFF" d="M1455 0h1v126h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FD6E5E" d="M1470 0h1v148h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FFF" d="M1485 0h2v91h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#E6E2D2" d="M1500 0h2v91h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FFF" d="M1515 0h2v147h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#52616D" d="M1530 0h2v88h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#2C343B" d="M1545 0h2v137h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FD6E5E" d="M1560 0h2v86h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#52616D" d="M1575 0h2v128h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FFF" d="M1590 0h1v117h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#FD6E5E" d="M1605 0h1v107h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#52616D" d="M1620 0h2v132h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#2C343B" d="M1635 0h1v124h-1"/>
						<path class="gallery__svg__lines--bottom__right" fill="#C44740" d="M1650 0h2v92h-2M1665 0h2v110h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#52616D" d="M1680 0h2v87h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#C44740" d="M1695 0h2v138h-2"/>
						<path class="gallery__svg__lines--bottom__right" fill="#E6E2D2" d="M1710 0h1v139h-1"/>
					</g>
				</svg>
			</div>

		</div>

	</div>

</section>
