<section class="gallery-modal">

	<div class="gallery-modal__container">

		<div class="gallery-modal__svg--left">
			<svg viewBox="0 0 149 1261" width="100%" height="100%" preserveAspectRatio="xMinYMin meet">
				<g class="gallery-modal__svg__blocks--left" fill="none" fill-rule="evenodd">
			        <path class="gallery-modal__svg__blocks--left__bottom" fill-opacity=".722" fill="#FFF" d="M143 1241v-36H33v36"/>
			        <path class="gallery-modal__svg__blocks--left__bottom" fill-opacity=".961" fill="#FD6E5E" d="M143 1191v-32H30v32"/>
			        <path class="gallery-modal__svg__blocks--left__bottom" fill-opacity=".957" fill="#52616D" d="M143 1141v-44H21v44"/>
			        <path class="gallery-modal__svg__blocks--left__bottom" fill-opacity=".659" fill="#C44740" d="M143 1091v-37H30v37"/>
			        <path class="gallery-modal__svg__blocks--left__bottom" fill-opacity=".733" fill="#52616D" d="M143 1041v-34H35v34"/>
			        <path class="gallery-modal__svg__blocks--left__bottom" fill-opacity=".62" fill="#2C343B" d="M143 991v-33H45v33"/>
			        <path class="gallery-modal__svg__blocks--left__bottom" fill-opacity=".933" fill="#E6E2D2" d="M143 941v-41H50v41"/>
			        <path class="gallery-modal__svg__blocks--left__bottom" fill-opacity=".78" fill="#FFF" d="M143 891v-41H3v41"/>
			        <path class="gallery-modal__svg__blocks--left__bottom" fill-opacity=".647" fill="#E6E2D2" d="M143 841v-44H23v44"/>
			        <path class="gallery-modal__svg__blocks--left__bottom" fill-opacity=".702" fill="#2C343B" d="M143 791v-41H11v41"/>
			        <path class="gallery-modal__svg__blocks--left__bottom" fill-opacity=".804" fill="#1E1E20" d="M143 741v-36H56v36"/>
			        <path class="gallery-modal__svg__blocks--left__bottom" fill-opacity=".949" fill="#E6E2D2" d="M143 691v-36H59v36"/>

			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".659" fill="#FD6E5E" d="M143 641v-36H28v36"/>
			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".894" fill="#E6E2D2" d="M143 591v-31H17v31"/>
			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".804" fill="#E6E2D2" d="M143 541v-35H0v35"/>
			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".702" fill="#52616D" d="M143 491v-35H56v35"/>
			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".875" fill="#52616D" d="M143 441v-41H28v41"/>
			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".992" fill="#FFF" d="M143 391v-41H43v41"/>
			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".663" fill="#FFF" d="M143 341v-36H67v36"/>
			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".922" fill="#FFF" d="M143 291v-44H65v44"/>
			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".627" fill="#E6E2D2" d="M143 241v-37H24v37"/>
			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".671" fill="#FFF" d="M143 191v-34H21v34"/>
			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".984" fill="#1E1E20" d="M143 141v-34H37v34"/>
			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".725" fill="#1E1E20" d="M143 91V47H24v44"/>
			        <path class="gallery-modal__svg__blocks--left__top" fill-opacity=".953" fill="#E6E2D2" d="M143 41V0H36v41"/>
			    </g>

				<g class="gallery-modal__svg__lines--left" fill="none" fill-rule="evenodd">
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#1E1E20" d="M149 1261v-3H44v3"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#2C343B" d="M149 1246v-4H24v4"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#E6E2D2" d="M149 1231v-3H32v3"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#52616D" d="M149 1216v-1H17v1"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#2C343B" d="M149 1201v-4H66v4"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#52616D" d="M149 1186v-2H44v2"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#2C343B" d="M149 1171v-1H8v1"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#FFF" d="M149 1156v-3H46v3M149 1141v-1H7v1"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#C44740" d="M149 1126v-3H21v3"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#52616D" d="M149 1111v-2H12v2"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#FD6E5E" d="M149 1096v-3H32v3"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#FFF" d="M149 1081v-3H63v3"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#2C343B" d="M149 1066v-1H3v1"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#FFF" d="M149 1051v-4H2v4"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#52616D" d="M149 1036v-3H11v3"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#FFF" d="M149 1021v-3H13v3M149 1006v-4H22v4"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#52616D" d="M149 991v-3H30v3"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#FD6E5E" d="M149 976v-3H30v3"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#2C343B" d="M149 961v-2H41v2"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#52616D" d="M149 946v-2H45v2"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#FFF" d="M149 931v-2H58v2"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#E6E2D2" d="M149 916v-1H29v1"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#52616D" d="M149 901v-2H72v2"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#1E1E20" d="M149 886v-1H50v1"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#52616D" d="M149 871v-4H67v4"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#FFF" d="M149 856v-4H70v4"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#52616D" d="M149 841v-2H12v2"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#FFF" d="M149 826v-1H70v1"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#2C343B" d="M149 811v-1H24v1"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#FD6E5E" d="M149 796v-3H10v3"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#C44740" d="M149 781v-1H36v1"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#1E1E20" d="M149 766v-1H63v1"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#52616D" d="M149 751v-4H0v4"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#1E1E20" d="M149 736v-3H30v3"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#C44740" d="M149 721v-1H34v1M149 706v-3H59v3M149 691v-2H46v2"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#FD6E5E" d="M149 676v-1H42v1"/>
			        <path class="gallery-modal__svg__lines--left__bottom" fill="#52616D" d="M149 661v-1H62v1"/>

			        <path class="gallery-modal__svg__lines--left__top" fill="#E6E2D2" d="M149 646v-2H22v2M149 631v-3H21v3"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#2C343B" d="M149 616v-3H1v3"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#FFF" d="M149 601v-1H37v1"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#52616D" d="M149 586v-4H18v4"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#2C343B" d="M149 571v-3H70v3"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#FD6E5E" d="M149 556v-1H1v1"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#C44740" d="M149 541v-3H61v3"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#FFF" d="M149 526v-4H47v4"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#52616D" d="M149 511v-2H16v2M149 496v-4H48v4"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#E6E2D2" d="M149 481v-3H21v3M149 466v-3H42v3M149 451v-4H28v4"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#FFF" d="M149 436v-3H10v3M149 421v-3H2v3"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#52616D" d="M149 406v-1H21v1"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#FD6E5E" d="M149 391v-2H63v2"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#FFF" d="M149 376v-2H7v2"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#52616D" d="M149 361v-4H16v4"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#FD6E5E" d="M149 346v-1H72v1"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#C44740" d="M149 331v-2H56v2"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#1E1E20" d="M149 316v-2H24v2"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#E6E2D2" d="M149 301v-3H73v3"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#1E1E20" d="M149 286v-4H65v4"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#FFF" d="M149 271v-3H41v3"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#E6E2D2" d="M149 256v-1H66v1"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#C44740" d="M149 241v-2H47v2"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#FD6E5E" d="M149 226v-2H53v2"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#E6E2D2" d="M149 211v-2H33v2"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#52616D" d="M149 196v-2H51v2M149 181v-1H60v1"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#E6E2D2" d="M149 166v-2H33v2"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#2C343B" d="M149 151v-3H68v3"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#FFF" d="M149 136v-1H54v1"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#52616D" d="M149 121v-4H0v4"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#1E1E20" d="M149 106v-2H42v2"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#52616D" d="M149 91v-2H11v2"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#E6E2D2" d="M149 76v-1H29v1"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#FFF" d="M149 61v-2H27v2M149 46v-2H12v2M149 31v-4H25v4"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#E6E2D2" d="M149 16v-1H72v1"/>
			        <path class="gallery-modal__svg__lines--left__top" fill="#C44740" d="M149 1V0H22v1"/>
			    </g>
			</svg>
		</div>

		<div class="gallery-modal__content__bkgnd">
			<div class="gallery-modal__content__frgnd">
				<div class="gallery-modal__content__inner">
					<h1 data-modal-heading></h1>

					<a href="#" class="gallery-modal__close">
						<img src="/images/close.svg" alt="Close">
					</a>

					<p data-modal-copy1></p>

					<p data-modal-copy2></p>

					<ul class="gallery-modal__content__images">
						<li data-modal-image1><img src="" alt=""></li>
						<li data-modal-image2><img src="" alt=""></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="gallery-modal__svg--right">
			<svg viewBox="0 0 149 1261" width="100%" height="100%" preserveAspectRatio="xMinYMin meet">

				<g class="gallery-modal__svg__blocks--right" fill="none" fill-rule="evenodd">
			        <path class="gallery-modal__svg__blocks--right__bottom" fill-opacity=".722" fill="#FFF" d="M0 1241v-36h110v36"/>
			        <path class="gallery-modal__svg__blocks--right__bottom" fill-opacity=".961" fill="#FD6E5E" d="M0 1191v-32h113v32"/>
			        <path class="gallery-modal__svg__blocks--right__bottom" fill-opacity=".957" fill="#52616D" d="M0 1141v-44h122v44"/>
			        <path class="gallery-modal__svg__blocks--right__bottom" fill-opacity=".659" fill="#C44740" d="M0 1091v-37h113v37"/>
			        <path class="gallery-modal__svg__blocks--right__bottom" fill-opacity=".733" fill="#52616D" d="M0 1041v-34h108v34"/>
			        <path class="gallery-modal__svg__blocks--right__bottom" fill-opacity=".62" fill="#2C343B" d="M0 991v-33h98v33"/>
			        <path class="gallery-modal__svg__blocks--right__bottom" fill-opacity=".933" fill="#E6E2D2" d="M0 941v-41h93v41"/>
			        <path class="gallery-modal__svg__blocks--right__bottom" fill-opacity=".78" fill="#FFF" d="M0 891v-41h140v41"/>
			        <path class="gallery-modal__svg__blocks--right__bottom" fill-opacity=".647" fill="#E6E2D2" d="M0 841v-44h120v44"/>
			        <path class="gallery-modal__svg__blocks--right__bottom" fill-opacity=".702" fill="#2C343B" d="M0 791v-41h132v41"/>
			        <path class="gallery-modal__svg__blocks--right__bottom" fill-opacity=".804" fill="#1E1E20" d="M0 741v-36h87v36"/>
			        <path class="gallery-modal__svg__blocks--right__bottom" fill-opacity=".949" fill="#E6E2D2" d="M0 691v-36h84v36"/>

			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".659" fill="#FD6E5E" d="M0 641v-36h115v36"/>
			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".894" fill="#E6E2D2" d="M0 591v-31h126v31"/>
			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".804" fill="#E6E2D2" d="M0 541v-35h143v35"/>
			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".702" fill="#52616D" d="M0 491v-35h87v35"/>
			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".875" fill="#52616D" d="M0 441v-41h115v41"/>
			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".992" fill="#FFF" d="M0 391v-41h100v41"/>
			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".663" fill="#FFF" d="M0 341v-36h76v36"/>
			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".922" fill="#FFF" d="M0 291v-44h78v44"/>
			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".627" fill="#E6E2D2" d="M0 241v-37h119v37"/>
			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".671" fill="#FFF" d="M0 191v-34h122v34"/>
			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".984" fill="#1E1E20" d="M0 141v-34h106v34"/>
			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".725" fill="#1E1E20" d="M0 91V47h119v44"/>
			        <path class="gallery-modal__svg__blocks--right__top" fill-opacity=".953" fill="#E6E2D2" d="M0 41V0h107v41"/>
			    </g>

				<g class="gallery-modal__svg__lines--right" fill="none" fill-rule="evenodd">
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#1E1E20" d="M0 1261v-3h105v3"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#2C343B" d="M0 1246v-4h125v4"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#E6E2D2" d="M0 1231v-3h117v3"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#52616D" d="M0 1216v-1h132v1"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#2C343B" d="M0 1201v-4h83v4"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#52616D" d="M0 1186v-2h105v2"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#2C343B" d="M0 1171v-1h141v1"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#FFF" d="M0 1156v-3h103v3M0 1141v-1h142v1"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#C44740" d="M0 1126v-3h128v3"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#52616D" d="M0 1111v-2h137v2"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#FD6E5E" d="M0 1096v-3h117v3"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#FFF" d="M0 1081v-3h86v3"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#2C343B" d="M0 1066v-1h146v1"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#FFF" d="M0 1051v-4h147v4"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#52616D" d="M0 1036v-3h138v3"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#FFF" d="M0 1021v-3h136v3M0 1006v-4h127v4"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#52616D" d="M0 991v-3h119v3"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#FD6E5E" d="M0 976v-3h119v3"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#2C343B" d="M0 961v-2h108v2"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#52616D" d="M0 946v-2h104v2"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#FFF" d="M0 931v-2h91v2"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#E6E2D2" d="M0 916v-1h120v1"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#52616D" d="M0 901v-2h77v2"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#1E1E20" d="M0 886v-1h99v1"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#52616D" d="M0 871v-4h82v4"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#FFF" d="M0 856v-4h79v4"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#52616D" d="M0 841v-2h137v2"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#FFF" d="M0 826v-1h79v1"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#2C343B" d="M0 811v-1h125v1"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#FD6E5E" d="M0 796v-3h139v3"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#C44740" d="M0 781v-1h113v1"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#1E1E20" d="M0 766v-1h86v1"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#52616D" d="M0 751v-4h149v4"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#1E1E20" d="M0 736v-3h119v3"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#C44740" d="M0 721v-1h115v1M0 706v-3h90v3M0 691v-2h103v2"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#FD6E5E" d="M0 676v-1h107v1"/>
			        <path class="gallery-modal__svg__lines--right__bottom" fill="#52616D" d="M0 661v-1h87v1"/>

			        <path class="gallery-modal__svg__lines--right__top" fill="#E6E2D2" d="M0 646v-2h127v2M0 631v-3h128v3"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#2C343B" d="M0 616v-3h148v3"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#FFF" d="M0 601v-1h112v1"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#52616D" d="M0 586v-4h131v4"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#2C343B" d="M0 571v-3h79v3"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#FD6E5E" d="M0 556v-1h148v1"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#C44740" d="M0 541v-3h88v3"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#FFF" d="M0 526v-4h102v4"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#52616D" d="M0 511v-2h133v2M0 496v-4h101v4"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#E6E2D2" d="M0 481v-3h128v3M0 466v-3h107v3M0 451v-4h121v4"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#FFF" d="M0 436v-3h139v3M0 421v-3h147v3"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#52616D" d="M0 406v-1h128v1"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#FD6E5E" d="M0 391v-2h86v2"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#FFF" d="M0 376v-2h142v2"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#52616D" d="M0 361v-4h133v4"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#FD6E5E" d="M0 346v-1h77v1"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#C44740" d="M0 331v-2h93v2"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#1E1E20" d="M0 316v-2h125v2"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#E6E2D2" d="M0 301v-3h76v3"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#1E1E20" d="M0 286v-4h84v4"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#FFF" d="M0 271v-3h108v3"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#E6E2D2" d="M0 256v-1h83v1"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#C44740" d="M0 241v-2h102v2"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#FD6E5E" d="M0 226v-2h96v2"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#E6E2D2" d="M0 211v-2h116v2"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#52616D" d="M0 196v-2h98v2M0 181v-1h89v1"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#E6E2D2" d="M0 166v-2h116v2"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#2C343B" d="M0 151v-3h81v3"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#FFF" d="M0 136v-1h95v1"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#52616D" d="M0 121v-4h149v4"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#1E1E20" d="M0 106v-2h107v2"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#52616D" d="M0 91v-2h138v2"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#E6E2D2" d="M0 76v-1h120v1"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#FFF" d="M0 61v-2h122v2M0 46v-2h137v2M0 31v-4h124v4"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#E6E2D2" d="M0 16v-1h77v1"/>
			        <path class="gallery-modal__svg__lines--right__top" fill="#C44740" d="M0 1V0h127v1"/>
			    </g>
			</svg>
		</div>

	</div>
</section>
