<nav class="nav__container">
	<div class="nav__active"></div>
	<ul class="nav__items">
		<li class="nav__item01 nav__item--active"><a href="#slide01"></a></li>
		<li class="nav__item02"><a href="#slide02"></a></li>
		<li class="nav__item03"><a href="#slide03"></a></li>
		<li class="nav__item04"><a href="#slide04"></a></li>
	</ul>
</nav>
